#p1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px
}
#p2{
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px
 
}
#drwpanel{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}


